<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Accueil</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    .welcome-message {
      background-color: #f8f9fa;
      border-bottom: 2px solid #dee2e6;
      padding: 20px 0;
      text-align: center;
      font-size: 24px;
      color: #495057;
    }
  </style>
</head>
<body>
<div class="welcome-message">
  Bienvenue sur notre Application !
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">ADMIN APP</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
          <a class="nav-link" href="/appuser/">Utilisateurs</a>
        </li>

          <a class="nav-link" href="/approles/">Roles</a>
        </li>
          <a class="nav-link" href="/produit/">Produits</a>
        </li>
        <li class="nav-item" sec:authorize="isAuthenticated()">
          <a class="nav-link" href="/logout">Déconnexion (<span sec:authentication="name"></span>)</a>
        </li>
        <li class="nav-item" sec:authorize="isAuthenticated()">
          <a class="nav-link" href="/profile">Profil</a>
        </li>
        <li class="nav-item" sec:authorize="isAnonymous()">
          <a class="nav-link" href="/sso/login">Connexion</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <div layout:fragment="content">
    <!-- Contenu de la page ici -->
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
  $(document).ready(function(){
      $('.navbar-toggler').click(function(){
          $('.navbar-collapse').collapse('toggle');
      });
  });
</script>
</body>
</html>
